.summary__card {
  width: 100%;
  padding: 30px;
}
.summary__card h3 {
  margin-bottom: 1.57rem;
}
/* Media queries */
/* Laptops and small screen – 769px and up */
@media only screen and (min-width: 768px) {
  .summary__card {
    width: 50%;
    border-radius: 32px;
  }
}
